<% content_for :nav do %>
  <% if logged_in? %>
    <%= link_to "Find someone", users_path, class: 'form-control btn btn-outline-primary my-2 my-sm-0 mr-2 ml-2' %>
    <%= link_to_unless_current "My places", current_user, class: 'form-control btn btn-outline-primary my-2 my-sm-0 mr-2 ml-2' %>
    <%= link_to "Sign out", logout_path,
                            method: :delete,
                            class: 'form-control btn btn-outline-secondary my-2 my-sm-0 mr-2 ml-2',
                            data: { confirm: 'Execute sign out?' } %>
  <% else %>
  <% end %>
<% end %>

<% content_for :main do %>
<div class="container col-md-6">
  <h1>Edit your profile</h1>
  <div class="gravatar_edit">
    <p>
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" class="btn btn-outline-primary m-2 p-1">Change Gravatar</a>
    </p>
  </div>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </p>
    <p>
      <%= f.submit "Save changes", class: "btn btn-outline-success", data: { confirm: 'Change your profile?' } %>
    </p>
  <% end %>
</div>
<% end %>
