<% content_for :nav do %>
  <% if logged_in? %>
    <%= link_to "Find someone", users_path, class: 'form-control btn btn-outline-primary my-2 my-sm-0 mr-2 ml-2' %>
    <%= link_to "My profile", edit_user_path(current_user), class: 'form-control btn btn-outline-primary my-2 my-sm-0 mr-2 ml-2' %>
    <%= link_to_unless_current("My places", current_user, class: 'form-control btn btn-outline-primary my-2 my-sm-0 mr-2 ml-2') {} %>
    <%= link_to "Sign out", logout_path,
                            method: :delete,
                            class: 'form-control btn btn-outline-secondary my-2 my-sm-0 mr-2 ml-2',
                            data: { confirm: 'Execute sign out?' } %>
  <% else %>
  <% end %>
<% end %>

<% content_for :main do %>
  <div class="d-inline-flex"><h1><%= gravatar_for @user %> <%= @user.first_name %></h1><%= render 'follow_form' if logged_in? %></div>
  <%= render 'shared/stats' %>
  <% if @users.any? %>
    <div class="user_avatars pt-2">
    <% @users.each do |user| %>
      <%= link_to gravatar_for(user, size: 48), user, title: user.first_name, class: 'pl-1' %>
    <% end %>
    </div>
  <% end %>
  <div class="pt-2"><h3><%= @title %></h3></div>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
    <% end %>
<% end %>
