<% content_for :nav do %>
  <% if logged_in? %>
    <%= link_to "Find someone", users_path, class: 'form-control btn btn-outline-primary my-2 my-sm-0 mr-2 ml-2' %>
    <%= link_to "My profile", edit_user_path(current_user), class: 'form-control btn btn-outline-primary my-2 my-sm-0 mr-2 ml-2' %>
    <%= link_to_unless_current("My places", current_user, class: 'form-control btn btn-outline-primary my-2 my-sm-0 mr-2 ml-2') {} %>
    <%= link_to "Sign out", logout_path,
                            method: :delete,
                            class: 'form-control btn btn-outline-secondary my-2 my-sm-0 mr-2 ml-2',
                            data: { confirm: 'Execute sign out?' } %>
  <% else %>
  <% end %>
<% end %>

<% content_for :main do %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
      <h1><%= @user.first_name %></h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
<% end %>
