<%= form_with model: @place, id: 'placeView' do |f| %>
  <div id="place_id">
  <p style="font-weight: 600; font-size: 20px;" id="title" class="title">
    <%= f.label :title %>
  </p>
  <p style="font-weight: 300; font-size: 16px; white-space: pre-line" id="description" class="description">
    <%= f.label :description %>
  </p>
  <p>
    <% if current_user?(@user) %>
    <%= f.button 'Update', class: 'btn btn-outline-success p-1 m-1', id: 'btn-upd' %>
    <% end %>
    <% if current_user.admin? %>
      <%= f.button 'Delete', class: 'btn btn-outline-danger p-1 m-1', id: 'btn-del'%>
      <% elsif current_user?(@user) %>
    <%= f.button 'Delete', class: 'btn btn-outline-danger p-1 m-1', id: 'btn-del'%>
    <% end %>
  </p>
  <%= hidden_field_tag(:coordinates) %>
  </div>
<% end %>
