<!DOCTYPE html>
<html>
  <head>
    <title>Places</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGVo5Pr11kzS7On3LIm3AkgTiZc6c300E" defer></script>
  </head>

  <body class="d-flex flex-column" style="min-height: 100vh;">
    <header>
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
          <span class="navbar-brand"><%= raw t('.menu') %></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto"></ul>
              <form class="form-inline mt-2 mt-md-0">
                <%= yield :nav %>
              </form>
            </div>
      </nav>
    </header>

    <main class="flex-fill">
      <div class="container mt-5 pt-5">
        <%= yield :main %>
      </div>
    </main>

    <footer class="card-footer p-0">
      <div class="container">
        <span class="text-muted small">&copy; 2019 <%= mail_to 'email@example.edu', 'Places Inc.', title: t('.write_us') %></span>
      </div>
    </footer>
  </body>
</html>
