<!DOCTYPE html>
<html>
  <head>
    <title>Places</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column" style="min-height: 100vh;">
    <header>
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <%= yield :nav %>
      </nav>
    </header>

    <main class="flex-fill">
      <div class="container">
        <%= yield :main %>
      </div>
    </main>

    <footer class="card-footer p-0">
      <div class="container">
        <span class="text-muted small">&copy; 2019 <%= mail_to 'email@example.edu', 'Places Inc.', title: t('.write_us') %></span>
      </div>
    </footer>
  </body>
</html>
